body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'PeoplefirstILTTF';
  src: url('/src/fonts/PeoplefirstILTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFSnowy';
  src: url('/src/fonts/SF함박눈TTF.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HSBombaram';
  src: url('/src/fonts/HSBombaram.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'baemin';
  src: url('/src/fonts/BMKIRANGHAERANG-TTF.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src: url('/src/fonts/BMEULJIROTTF.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;